[project]
	description = github.io
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Legolas Kwok (LegolasKwok)
[access "refs/for/refs/*"]
	read = group user/Legolas Kwok (LegolasKwok)
	push = group user/Legolas Kwok (LegolasKwok)
	label-Code-Review = -2..+2 group user/Legolas Kwok (LegolasKwok)
	label-Verified = -1..+1 group user/Legolas Kwok (LegolasKwok)
	rebase = group user/Legolas Kwok (LegolasKwok)
	removeReviewer = group user/Legolas Kwok (LegolasKwok)
	submit = group user/Legolas Kwok (LegolasKwok)
[access "refs/heads/*"]
	read = group user/Legolas Kwok (LegolasKwok)
	create = group user/Legolas Kwok (LegolasKwok)
	push = +force group user/Legolas Kwok (LegolasKwok)
	pushMerge = group user/Legolas Kwok (LegolasKwok)
[access "refs/tags/*"]
	push = group user/Legolas Kwok (LegolasKwok)
	push = +force group user/Legolas Kwok (LegolasKwok)
